aws_region   = "eu-central-1"
project_name = "retail-analytics-data-platform"
owner        = "nasrin"
environment  = "dev"

# Must be globally unique.
# Suggested pattern:
# retail-analytics-datalake-<your-unique-suffix>-eu-central-1
data_lake_bucket_name = "retail-analytics-datalake-your-unique-suffix-eu-central-1"

enable_data_lake_versioning = false

aws_region   = "eu-central-1"
project_name = "retail-analytics-data-platform"
owner        = "nasrin"
environment  = "dev"

data_lake_bucket_name = "retail-analytics-datalake-your-unique-suffix-eu-central-1"

enable_data_lake_versioning = false

glue_database_name = "retail_analytics_processed_dev"

athena_workgroup_name = "retail_analytics_dev"

# 100 MB conservative cutoff for early testing.
athena_bytes_scanned_cutoff_per_query = 104857600


processed_csv_table_definitions = {
  br_holidays = {
    description = "Example processed CSV table."
    s3_prefix   = "processed/athena_csv/br_holidays/run_date=2026-06-16/"
    columns = [
      { name = "date", type = "string" },
      { name = "name", type = "string" }
    ]
  }
}

processed_parquet_table_definitions = {
  br_holidays_parquet = {
    description = "Example processed Parquet table."
    s3_prefix   = "processed/athena_parquet/br_holidays/run_date=2026-06-16/"
    columns = [
      { name = "date", type = "string" },
      { name = "name", type = "string" }
    ]
  }
}

# Redshift Serverless is a RED-cost phase.
# Keep disabled unless you intentionally want to create it.
enable_redshift = false

redshift_base_capacity       = 4
redshift_max_capacity        = 4
redshift_usage_limit_amount  = 1
redshift_publicly_accessible = false

# Later, for Power BI from your laptop, use only your own IP as /32.
# Example:
# redshift_allowed_cidr_blocks = ["203.0.113.10/32"]
redshift_allowed_cidr_blocks = []

# Optional. Leave empty to use default VPC subnets when Redshift is enabled.
redshift_subnet_ids = []